<style type='text/css'>
.nav_dh{width:100%;}
</style>
<!--{admin tag=checkadmingorup ret=b_admin_group_result}-->
<!--{article tag=lists category=$smarty.get.category|default:1 pageno=$smarty.get.pageno|default:1 count=10 ret=a_article_list agentid=$smarty.session.agentid}-->
<script type="text/javascript">
function delArticle(aid){
	if(confirm('确定要删除这篇文章吗？') ){
		$.post('/api/api_article.php', {aid:aid,tag:'del'}, function(data){
			if(data.result){
		 		$("#art_"+aid).hide();
			}else{
				alert('执行失败请重试！');
			}
		}, "json");
	}
}
</script>
<link href="/resources/stats/styles/cur_common.css" rel="stylesheet" type="text/css" />
<div class="bm_h cl">
	<div class="nav_dh">
		<label for="web"><a href="/">信息管理平台</a></label>
		<label for="web">&rsaquo;</label>
		<label for="web"><a href="/article/index.html?category=<!--{$smarty.get.category}-->"><!--{$assign.article_category[$smarty.get.category]}--></a></label>
		<!--{if $b_admin_group_result || $smarty.get.category==3}-->
		<label for="web" style='float:right;margin-right:10px;'><a href="/admin/article/add.html?category=<!--{$smarty.get.category}-->">发布文章</a></label>
		<!--{/if}-->
	</div>
</div>
<div class="datalist">
	<!--{foreach key=key item=item from=$a_article_list.info}-->
	<ul id="art_<!--{$item.aid}-->">
		<b><a href="/article/view.html?aid=<!--{$item.aid}-->"><!--{$item.title}--></a></b>
		<!--{if $b_admin_group_result || $assign.userid==$item.authorid}-->
		<span style="float:right;padding-top:5px"><a href="javascript:delArticle(<!--{$item.aid}-->)" title="删除文章"><img src="/resources/images/del_button.png"></a></span>
		<span style="float:right">&nbsp;&nbsp;</span>
		<span style="float:right;padding-top:3px"><a href="/admin/article/modify.html?aid=<!--{$item.aid}-->" title="修改文章"><img src="/resources/images/modify_button.png"></a></span>
		<span style="float:right">&nbsp;|&nbsp;</span>
		<!--{/if}-->
		<span style="float:right"><!--{$item.sharing_num}-->次推荐</span>
		<span style="float:right">&nbsp;|&nbsp;</span>
		<span style="float:right"><!--{$item.comment_num}-->次评论</span>
		<span style="float:right">&nbsp;|&nbsp;</span>
		<span style="float:right"><!--{$item.read_num}-->次阅读</span>
		<span style="float:right">&nbsp;|&nbsp;</span>
		<span style="float:right">发布于：<!--{$item.create_date|date_format:"%Y-%m-%d %H:%M"}--></span>
		<p style="margin-left:10px">
		<br />
			&nbsp;&nbsp;&nbsp;&nbsp;<!--{$item.description}-->
		<br /><br />
		</p>
	</ul>
	<!--{/foreach}-->
	<div class="page"><!--{$a_article_list.pagehtml}--></div>
</div>