<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>迪信通手机零售信息管理平台</title>
<link href="/resources/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body id="login">
<div id="logbg">
<h1 id=""><img src="resources/images/logo.png" align="absmiddle" />  迪信通信息管理平台</h1>
  <form id="form1" name="form1" method="post" action="">
  <div id="logbox">
    <div class="iptunit">
      <label for="textfield"><strong>用户名：</strong></label>
      <input type="text" name="username" id="username" class="ipt" />
    </div>
    <div class="iptunit">
      <label for="textfield2"><strong>密　码：</strong></label>
      <input type="password" name="password" id="password" class="ipt" />
    </div>
  </div>
  
  <div id="btnbox">
    <label for="button"></label>
    <input type="submit" name="submit" id="button" value="登 录" class="btn1" />　
    <label for="button2"></label>
    <input name="button2" type="reset" class="btn1" id="button2" value="重 置" />
  </div>
  <span><font color="red"><!--{$assign.login}--></font></span>
</form>
</div>
</body>
</html>