<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>迪信通手机零售信息管理平台数据统计系统</title>
<link href="/resources/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body id="login">
<!--{member tag=logout ret=b_member_logout}-->
<!--{if $b_member_logout}-->
<div style="text-align:center">退出迪信通手机零售信息管理平台<br>请等待3秒后跳转！<a href="/login.html">点击这里</a>直接跳转。</div>
<script language="javascript">window.location.replace('/login.html');</script>
<!--{/if}-->
</body>
</html>