<script type="text/javascript" src="http://res3.www.appdear.com/resources/js/tangram_suggestion.js" charset="utf-8"></script>
<link style="text/css" rel="stylesheet" href="http://res3.www.appdear.com/resources/css/suggestion.css">

<link href="/resources/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
<script src="/resources/lib/ligerUI/js/core/base.js" type="text/javascript"></script>
<script src="/resources/lib/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
<script src="/resources/lib<!--{#version#}-->/jquery.json-2.3.min.js" type="text/javascript"></script>
<style type="text/css">
.export{background:url("/resources/stats/images/icon_excel.png") no-repeat scroll 0 50% transparent;color:#336699;float:right;height:16px;line-height:16px;margin:7px 10px 0 0;padding-left:20px;}
.tmp_cotair{margin-top:10px;}
.tpl,.tpltip{float:left;}
.tpl_span{border:1px solid #CBCBCB;float:left;margin-right:20px;}
.tpl ul{float:left;height:500px;line-height:22px;overflow-y:auto;padding:5px 5px 5px 15px;width:190px;}
.tpl ul li span,.tpl ul li a,.tpltip ul li span,.tpltip ul li a{cursor:pointer;}
.tpl ul li span{line-height:22px;height:22px;overflow:hidden;padding-right:10px;}
#tip_menu a,.tpltip a{color:#336699;margin-right:5px;}
.tpltip{height:auto;line-height:22px;}
.tpltip div{float:left;}
.tpltip span{float:left;height:22px;overflow:hidden;width:190px;}
.tpltip ul{float:left;margin-right:20px;padding:5px;width:200px;}
.tipcur{background:url("/resources/stats/images/op_bg_pic.png") no-repeat scroll 0 0 transparent;height:55px;margin-left:-10px;padding-left:10px;padding-top:8px;width:175px;}
.tpltip span{font-weight:bold;}
#cnt_member_tip{float:left;height:auto;margin-bottom:0px;}
#cnt_member{float:left;margin-bottom:10px;}
input, textarea, select{font-size:12px;font-weight:normal;}
#cc-cbox-filter362{background:url("/resources/stats/images/T13PGlXfdfXXXXXXXX-261-188.png") no-repeat scroll 0 0 transparent;background-color:#FFFFFF;background-position:-239px -89px;border:1px solid #D9E5F6;height:20px;padding-left:23px;width:100%;}
.tpl_span ul li img{margin-right:5px;}
.waiting{color:#999999;}
</style>
<div class="bm_h cl">
	<div class="nav_dh">
		<label for="web"><a href="/">信息管理平台</a></label>
		<label for="web">&rsaquo;</label>
		<label for="web"><a href="/mag_user.html">账户管理</a></label>
	</div>
</div>
<div class='tmp_cotair'>
	<div class="bm_t">
		<!--<a title="导出数据" class="export" href="javascript:void(0);" id="exportFile">导出数据</a>-->
	    <h3>
	        <div class="controlsearch vm">
	            <input type="text" id="searchUrl" name="searchUrl" value="" class="px xg1"
	            size="40" />
	            <input type="hidden" id="searchUrlEncode" name="searchUrlEncode" value=""
	            />
	            <!-- 
	            <select name="searchUrlIsLike" id="searchUrlIsLike">
	                <option label="精确" value="0">
	                    精确
	                </option>
	                <option label="模糊" value="1">
	                    模糊
	                </option>
	            </select>
	             -->
	            &nbsp;
	            <button id="searchUrlBtn" class="pnc pn">
	                <span>
	                    查询
	                </span>
	            </button>
	            <button class="pn" id="searchUrlBackBtn" style='display:none;'>
	                <span>
	                    返回
	                </span>
	            </button>
	        </div>
	        <script type="text/javascript">
	            // searchUrlBtn 表单名称
	            var UB_URL_IPT = 'searchUrl';
	            var UB_URLENCODE_IPT = 'searchUrlEncode';
	            var UB_URL_BTN = 'searchUrlBtn';
	
	            var DEFAULT_SEARCH_TXT = '请输入要搜索的公司/店面/店员名称';
	
	            $(document).ready(function() {
	                $('#' + UB_URL_IPT).val(URLOBJ.params.q || DEFAULT_SEARCH_TXT);
	                $('#searchUrlBackBtn').click(function() {
	                    $('#order').val('');
	                    $('#' + UB_URLENCODE_IPT).val('');
	                    $('#' + UB_URL_IPT).val(DEFAULT_SEARCH_TXT);
	                    $('#' + UB_URL_IPT).addClass('xg1');
	                    statsFormAjax(this.form);
	                    return false;
	                });
	            });
	
	            // 当得到焦点时
	            $('#' + UB_URL_IPT).bind('focus',
	            function() {
	                if ($(this).val() == DEFAULT_SEARCH_TXT) {
	                    $(this).val('');
	                    $(this).removeClass('xg1');
	                }
	                return false;
	            });
	            // 当失去焦点时
	            $('#' + UB_URL_IPT).bind('blur',
	            function() {
	                if ($(this).val() == '') {
	                    $(this).val(DEFAULT_SEARCH_TXT);
	                    $(this).addClass('xg1');
	                } else {
	                    $('#' + UB_URLENCODE_IPT).val(encodeURIComponent($('#' + UB_URL_IPT).val()));
	                }
	                return true;
	            });
	            // 为 searchUrlBtn 添加  click 事件
	            $('#' + UB_URL_BTN).bind('click',
	            function() {
	                if ($('#' + UB_URL_IPT).val() == DEFAULT_SEARCH_TXT || $('#' + UB_URL_IPT).val() == '') {
	                    return false;
	                }
	                $('#' + UB_URLENCODE_IPT).val($('#' + UB_URL_IPT).val());
	                window.location.href = '/mag_search.html?q='+$('#' + UB_URLENCODE_IPT).val();
	                return false;
	                statsFormAjax(this.form);
	                return false;
	            });
	        </script>
	    </h3>
	</div>
</div>
<script type='text/javascript'>
var CF_SESS  = eval('[<!--{php}-->echo json_encode($_SESSION)<!--{/php}-->]')[0];
URL_GETMEMBERINFO = '/apis/api_member.json';
var obj_first;
var ct_node = [];
var tmp_open_obj;
$(function(){
	$("#cc-cbox-filter362").live('blur',function(){
		if ($.trim($(this).val()) == "") {  
            $(this).val($(this).attr('title')).addClass("waiting");  
        }
	}).live('focus',function(){
		if ($.trim($(this).val()) == $(this).attr('title')) {  
            $(this).val("").removeClass("waiting");  
        }
	});
	$('#exportFile').live('click',function(){
		var req = {exp_id:0,type:'mem_type'};
		$('#rqstr').val($.toJSON(req));
   	 	$('#excel_frm').submit();
	});
	$('#cnt_member input[type=text]').live('keyup',function(e){
		searchCur(this);return ;
		if(e.keyCode==13){
			$(this).parent().find('input[type=button]').trigger('click');
		}
	});
	$('.tpltip li span').live('click',function(){
		if('null' == $(this).attr('level')) return ;
		var nid = $(this).attr('id');
		var pid = $(this).attr('pid');
		var _iid= $('#tpl_'+pid).length?'tpl_'+pid:'tpl';
		setTplTip($(this));
		($('#cnt_member_tip').find('span').eq(0).attr('id') == $(this).attr('id')) && $('#tip_tpl_'+$(this).attr('id')).empty();
		ct_node.data = {id:$(this).attr('id'),level:$(this).attr('level'),pid:$(this).attr('pid')};
		ct_node.obj  = $(this);
		if(0 == $(this).attr('level')){
			$('#tip_tpl_'+pid).empty();
			$('#tpl_'+pid).empty();
			return ;
		}
		$.getJSON(URL_GETMEMBERINFO,{act:'show',nid:nid},function(data){
			$('#'+_iid).html(setTpl(data,nid));
		});
		return false;
	})
	$('.tpl li span').live('click',function(){
		var nid = $(this).attr('id');
		var pid = $(this).attr('pid');
		
		setOpMenu($(this));
		setTplTip($(this));
		
		ct_node.data = {id:$(this).attr('id'),level:$(this).attr('level'),pid:$(this).attr('pid')};
		ct_node.obj  = $(this);
		if(0 == $(this).attr('level')){
			$('#tip_tpl_'+pid).empty();
			$('#tpl_'+pid).empty();
			return ;
		}
		loadingHtml('tpl_'+pid,300,200);
		$.getJSON(URL_GETMEMBERINFO,{act:'show',nid:nid},function(data){
			$('#tpl_'+pid).html(setTpl(data,nid));
		});
	});

	var regEmailElement = baidu.G(UB_URL_IPT);
	var regEmailSuggester = baidu.ui.suggestion.create( regEmailElement, {
	    "onconfirm":function(){
	        regEmailElement.value = regEmailElement.value.replace(/\s+/g, "");
	        $('#'+UB_URL_BTN).trigger('click');
	    },
	    "getData" : function (wd){
	    	if ($('#' + UB_URL_IPT).val() == DEFAULT_SEARCH_TXT || $('#' + UB_URL_IPT).val() == '') {
                return false;
            }
			$.getJSON(URL_GETMEMBERINFO,{'kw':wd,'act':'sug'},function(data){
	    		var assign = function(){
		            regEmailSuggester.giveData("", data);
		        }
		        setTimeout(assign, 50);
	    	})
	    },
	    "append_html" : "",
	    "prepend_html" : ""
	});
	$('#tip_menu a,.tpltip a').live('click',function(){
		itemclick({text:$(this).html(),icon:$(this).attr('icon'),obj:$(this),level:$(this).attr('level')},0);
    });
	$('#btn_sec_cur').live('click',function(){
		searchCur($(this));
	});
	loadingHtml('cnt_member',500,200);
	$.getJSON(URL_GETMEMBERINFO,{act:'init'},function(data){
		obj_first = data[0];
		data.shift();
		$('#cnt_member').empty();
		$(setTpl(data,obj_first.id)).appendTo('#cnt_member');
		var _str = '<li><span';
		$.each(obj_first,function(kk,vv){
			if(kk=='text') return true;
			_str += ' '+kk+'="'+vv+'"';
		})
		_str += '>';
		$('<div class="tpltip"><ul>'+_str+obj_first.text+'</span><BR></li></ul><div class="tpltip" id="tip_tpl_'+obj_first.id+'"></div></div>').appendTo('#cnt_member_tip');
		setOpMenu($('.tpltip ul li span'),1,1);
		//初始化搜索
		if(URLOBJ.params.open && URLOBJ.params.open!=0){
			tmp_open_obj = URLOBJ.params.open.split(',');
			searchInit(URLOBJ.params.self);
		}
	});
})
jQuery.fn.outerHTML = function(s) {
    return (s)? this.before(s).remove(): jQuery("<p>").append(this.eq(0).clone()).html();  
}
function setTplTip(obj){
	if($(obj).attr('level')==0) return ;
	var html = '<div class="tpltip"><ul><li>'+$(obj).outerHTML()+'<BR><li></ul><div class="tpltip" id="tip_tpl_'+$(obj).attr('id')+'"></div></div>';
	$('#tip_tpl_'+$(obj).attr('pid')).html(html);
	setOpMenu($('#tip_tpl_'+$(obj).attr('pid')+' #'+$(obj).attr('id')),1);
}
function searchInit(pid){
	var nid = tmp_open_obj[0];
	var pid = pid;
	loadingHtml('tpl_'+pid,300,200);
	setTplTip($('#'+nid));
	$.getJSON(URL_GETMEMBERINFO,{act:'show',nid:nid},function(data){
		$('#tpl_'+pid).html(setTpl(data,nid));
		tmp_open_obj.shift();
		if(tmp_open_obj.length) searchInit(nid);
	});
}
function loadingHtml(id, height, width, tip, src) {
    var height = height || $('#' + id).height();
    var width = width || $('#' + id).width();
    var tip = tip || '数据加载中';
    var src = src || '/resources/images/loader.gif';
    $('#' + id).html('<div style="width:' + (width == 0 ? '100%': width + 'px') + ';height:' + (height == 0 ? '100%': height + 'px') + ';background:url(' + src + ') center no-repeat;display:inline-block;" alt="' + tip + '" title="' + tip + '"></div>');
}
function searchCur(obj){
//	var seCnt = $(obj).parent().parent().find('li span');
//	var q     = $(obj).parent().find("input[type='text']").eq(0).val();
	var seCnt = $(obj).parent().parent().find('li span');
	var q     = $(obj).val().replace(/\s+/g, "");
	$.each(seCnt,function(k,v){
		if(!q){
			$(v).parent().show();
			return true;
		}
		if($(v).html().indexOf(q) == '-1') $(v).parent().hide();
		else $(v).parent().show();
	})
}
function updateTreeItem(data)
{
	$(ct_node.obj).html(data.text+(1==parseInt(data.status)?'':'<font style="color:red;">(停)</font>'));
}
function addTreeItem(data)
{
    var node  = $('#tpl_'+ct_node.data.id);
    var nodes = [];
    !!data.length ? nodes = data : nodes.push(data);
    $.each(nodes,function(k,v){
    	if(1 < nodes.length && !v.level) return true;
    	var str = '';
    	v.title = v.text;
		v.text  = cutstr(v.text,v.level==0?17:21);
		str += '<li>'+(v.level==0?'<img src="/resources/images/nan-xiao_icon.png" style="width:14px;vertical-align:middle;">':'')+'<span';
		$.each(v,function(kk,vv){
			if(kk=='text') return true;
			str += ' '+kk+'="'+vv+'"';
		})
		str += '>'+v.text+(0==v.status?'<font style="color:red">(停)</font>':'')+'</span></li>';
		node.parent().find('ul').eq(0).append(str);
	})
}
function itemclick(item, i)
{
	ct_node.data = {id:$(item.obj).parent().parent().find('span').attr('id'),level:$(item.obj).parent().parent().find('span').attr('level'),pid:$(item.obj).parent().parent().find('span').attr('pid')};
	var _level   = ct_node.data.level;
	if('export' == item.icon){
		var req = {exp_id:ct_node.data.id,type:'mem_type'};
		$('#rqstr').val($.toJSON(req));
   	 	$('#excel_frm').submit();
		return ;
	}
	if(item.icon=='addsa'&&item.text=='添加负责人'){
		dialog = $.ligerDialog.open({ url: '/layer/add_person.html?id='+ct_node.data.id+'&action=add',isResize:true,width:400,height:300 });
		return ;
	}
	if('import' == item.icon){
		dialog = $.ligerDialog.open({ url: '/layer/person_import.html?id='+ct_node.data.id+'&action='+item.icon,isResize:true,width:700,height:300 });
		return ;
	}else if('del' == item.icon){
		_level 	   = parseInt(_level);
		$.ligerDialog.confirm('确定要删除此账户'+(0<_level?'及其所有下级账户':'')+'吗？', function (yes) {
			if(yes){
				$.ligerDialog.waitting('正在删除中,请稍候...');
				$.getJSON(URL_GETMEMBERINFO,{act:'mem_del',id:ct_node.data.id,table:(0<_level?1:0)},function(data){
					try{$.ligerDialog.closeWaitting();}catch(e){}
					$.ligerDialog.alert(GLOBAL_RT_INFO.mem_del[data.code]);
					if('006' == data.code){
						//$('#'+ct_node.data.id).parent().remove();
						$('li:.tipcur').remove();
						$('#tpl_'+ct_node.data.pid).empty();
						$('#tip_tpl_'+ct_node.data.pid).empty();
					}
				});
			}
		});
		return ;
	}
	if((_level==3&&item.icon=='add') || _level==0 || _level==null || _level=='null'){
		dialog = $.ligerDialog.open({ url: '/layer/add_person.html?id='+ct_node.data.id+'&action='+item.icon,isResize:true,width:400,height:300 });
	}else{
		var _cf_  = {
			"1":{
				"url":"add_channel.html",
				"tip":"渠道",
				"width":530,
				"height":450
			},
			"2":{
				"url":"add_agent.html",
				"tip":"子公司",
				"width":530,
				"height":400
			},
			"3":{
				"url":"add_shop.html",
				"tip":"店面",
				"width":900,
				"height":470
			}
		};
		var _url_ = '/layer/'+_cf_[item.level].url+'?id='+ct_node.data.id+'&action='+item.icon+'&_level_='+item.level;
		var _title= (item.icon=='add'?'添加':'修改')+_cf_[item.level].tip+(item.icon=='modify'?'--'+$(item.obj).parent().parent().find('span').attr('title'):'');
		dialog = $.ligerDialog.open({ url: _url_,isResize:true,width:_cf_[item.level].width,height:_cf_[item.level].height,title:_title});
	}
}
function setOpMenu(obj,type,init){
	var type = type || 0;
	var init = init || 0;
	var _obj = type ? 'tip_menu_tip_'+$(obj).attr('id') : 'tip_menu';
	$('#'+_obj).remove();
	var node  	   = [];
	var tag_obj    = [];
	var self_level = obj_first.level;
	
	node.data      = {level:$(obj).attr('level'),id:$(obj).attr('id')};
	if(parseInt(node.data.id) == 0){
		tag_obj.push({ text: '添加渠道', click: itemclick, icon: 'add' ,level:1});
	}else{
		//临时
		//tag_obj.push({ text: '添加渠道', click: itemclick, icon: 'add' ,level:1});
		
	 	if(parseInt(node.data.level) == 2) tag_obj.push({ text: '导入店面', click: itemclick, icon: 'import' });
		if(parseInt(node.data.level) && self_level<3) tag_obj.push({ text: '添加'+(node.data.level==3?'店员':(node.data.level==1?'子公司':(node.data.level==2?'店面':'渠道'))), click: itemclick, icon: 'add' ,level:parseInt(node.data.level)+1});
		if(parseInt(node.data.level) && parseInt(node.data.level)<3 && self_level<3) tag_obj.push({ text: '添加负责人', click: itemclick, icon: 'addsa' });
		if(self_level<3 || obj_first.id==node.data.id) tag_obj.push({ text: '修改', click: itemclick, icon: 'modify' ,level:parseInt(node.data.level)});
		!!CF_SESS.isSup && tag_obj.push( { text: '删除', click: itemclick, icon: 'del' });
	}
	if(parseInt(node.data.level)&&0!=parseInt(node.data.id)) tag_obj.push( { text: '导出EXCEL', click: itemclick, icon: 'export' });
	$(obj).parent().append("<div id='"+_obj+"'></div>");
	$.each(tag_obj,function(k,v){
  		if(typeof v.text == 'undefined') return true;
  		if(!init){
  			if((v.icon=='add' || v.icon=='import' || v.icon=='export') && type == 0) return true;
  	  		if(type == 1 && v.icon!='add' && v.icon !='import' && v.icon != 'export') return true;
  		}
  		$('#'+_obj).append("<a icon="+v.icon+" level="+(v.level||-1)+">"+v.text+"</a>");
 	});
	if(_obj == 'tip_menu'){
		$('.tpl').find('li').removeClass('tipcur');
		$('#'+_obj).parent().addClass('tipcur');
	}
}
function setTpl(data,id){
	var str = '<div class="tpl" id="tpl"><span class="tpl_span"><div style="padding: 5px;"><input role="textbox" autocomplete="off" id="cc-cbox-filter362" class="waiting" value="筛选当前列表" title="筛选当前列表" style="width: 175px;padding-top:2px;" type="text"><!--<input type="button" id="btn_sec_cur" value="搜索"/>--></div><ul>';
	$.each(data,function(k,v){
		v.title = v.text;
		v.text  = cutstr(v.text,v.level==0?17:21);
		str += '<li>'+(v.level==0?'<img src="/resources/images/nan-xiao_icon.png" style="width:14px;vertical-align:middle;">':'')+'<span';
		$.each(v,function(kk,vv){
			if(kk=='text') return true;
			str += ' '+kk+'="'+vv+'"';
		})
		str += '>'+(v.id==URLOBJ.params.doid?'<font style="color:red">'+v.text+'</font>':v.text)+(0==v.status?'<font style="color:red">(停)</font>':'')+'</span></li>';
	})
	return str+'</ul></span><div class="tpl" id="tpl_'+id+'"></div></div>';
}
function cutstr(str, len) {
    var str_length = 0;
    var str_len = 0;
    var ext     = '...';//...
    str_cut = new String();
    str_len = str.length;
    for (var i = 0; i < str_len; i++) {
        a = str.charAt(i);
        str_length++;
        if (escape(a).length > 4) {
            str_length++
        }
        str_cut = str_cut.concat(a);
        if (str_length >= len) {
            str_cut = str_cut.concat(ext);
            return str_cut
        }
    }
    if (str_length < len) {
        return str
    }
}
</script>
<div id='dialog'></div>
<div class='' id='cnt_member_tip'></div>
<div style='clear:both;'></div>
<div class='' id='cnt_member'></div>
<form id="excel_frm" target="" method="get" action="/api/exp.php?type=mem_type">
<input type='hidden' id='rqstr' name="rqstr" value='' />
</form>